%p
  <strong>Files extracted:</strong> #{list.extracted ? "yes" : "no"}
- if list.files
  %table.table.table-striped.table-hover.table-condensed.files-table
    %thead
      %tr
        %th Name
        %th Package Name
        %th.medium Package Version
        %th.small Changes
        %th.small Mode
        %th.small User
        %th.small Group
    %tbody
      - list.files.each do |file|
        %tr
          %td= file.name
          %td= file.package_name
          %td= file.package_version
          %td
            = file.changes.join(",")
            - if file.error_message
              %span{ title: file.error_message } (details)
          %td= file.mode
          %td= file.user
          %td= file.group
