- if @diff["repositories"]
  - scope = "repositories"
  %a.scope_anchor{ id: scope }
  .scope#repositories_container
    .row
      .col-xs-1
        %a.btn.btn-default.btn-lg.scope_logo_big{ :href => "##{scope}",
          :title => scope_title(scope), "data-toggle"=>"popover",
          "data-content" => scope_help(scope) }
          %span= scope_initials(scope)
        %span.toggle{ title: "Collapse/Expand" }
      .col-xs-11
        %h2
          Repositories
          = render_partial "compare/summary",
            scope: "repositories",
            singular: "repository",
            plural: "repositories"
    .row.scope_content.collapse.in
      .col-md-12
        .row
          .col-md-6.table_container
            - if @diff["repositories"].only_in1
              = only_in_a
              = render_partial "compare/repository_list", list: @diff["repositories"].only_in1
          .col-md-6.table_container
            - if @diff["repositories"].only_in2
              = only_in_b
              = render_partial "compare/repository_list", list: @diff["repositories"].only_in2
        - if @diff["repositories"].changed
          %a.both_anchor{ id: "repositories_changed" }
          .row
            .col-md-12.table_container
              = changed
              = render_partial "compare/changes", changes: changed_elements("repositories",
                attributes: ["name", "url", "type", "enabled", "autorefresh", "gpgcheck",
                  "priority"],
                key: "alias")
        - if @diff["repositories"].common
          %a.both_anchor{ id: "repositories_both" }
          .row
            .col-md-12
              %a.show-common-elements{ href: "#repositories_both" }
                Show common elements in repositories
              %a.hide-common-elements{ href: "#", style: "display: none" }
                Hide common elements in repositories
          .row.scope_common_content.collapse
            .col-md-12.table_container
              = in_both
              = render_partial "compare/repository_list", list: @diff["repositories"].common
