- if @diff["services"]
  %a.scope_anchor{ id: "services" }
  .scope#services_container
    .row
      .col-xs-1
        %a{ href: "#services" }
          %img.over.scope_logo_big{ :src => "/assets/logo-services.png",
            "data-toggle" => "popover",
            :title => "Services",
            "data-content" => "#{scope_help("services")}" }
        %span.toggle{ title: "Collapse/Expand" }
      .col-xs-11
        %h2
          Services
          .scope-summary
            - if @diff["services"].only_in1
              %span.summary-part
                #{@description_a.name}:
                #{safe_length(@diff["services"].only_in1, :services)} services
            - if @diff["services"].only_in2
              %span.summary-part
                #{@description_b.name}:
                #{safe_length(@diff["services"].only_in2, :services)} services
            - if @diff["services"].common
              %span.summary-part
                %a.show-common-elements{ href: "#services_both" }<
                  both
                = ": #{safe_length(@diff["services"].common, :services)} services"
    .row.scope_content.collapse.in
      .row
        .col-xs-1
        .col-xs-5.table_container
          - if safe_length(@diff["services"].only_in1, :services) > 0
            = only_in_a
            = render_partial "compare/service_list", list: @diff["services"].only_in1
        .col-xs-1
        .col-xs-5.table_container
          - if safe_length(@diff["services"].only_in2, :services) > 0
            = only_in_b
            = render_partial "compare/service_list", list: @diff["services"].only_in2
      - if safe_length(@diff["services"].common, :services) > 0
        %a.both_anchor{ id: "services_both" }
        .row
          .col-xs-1
          .col-xs-11
            %a.show-common-elements{ href: "#" }
              Show common elements in services
            %a.hide-common-elements{ href: "#", style: "display: none" }
              Hide common elements in services
        .row.scope_common_content.collapse
          .col-xs-1
          .col-xs-10.table_container
            = in_both
            = render_partial "compare/service_list", list: @diff["services"].common
