- if @diff["services"]
  - scope = "services"
  %a.scope_anchor{ id: scope }
  .scope#services_container
    .row
      .col-xs-1
        %a.btn.btn-default.btn-lg.scope_logo_big{ :href => "##{scope}",
          :title => scope_title(scope), "data-toggle"=>"popover",
          "data-content" => scope_help(scope) }
          %span= scope_initials(scope)
        %span.toggle{ title: "Collapse/Expand" }
      .col-xs-11
        %h2
          Services
          .scope-summary
            - if @diff["services"].only_in1 && @diff["services"].only_in1.length > 0
              %span.summary-part
                #{@description_a.name}:
                #{pluralize_scope(@diff["services"].only_in1, "service", "services")}
                (#{@diff["services"].only_in1.init_system})
            - if @diff["services"].only_in2 && @diff["services"].only_in2.length > 0
              %span.summary-part
                #{@description_b.name}:
                #{pluralize_scope(@diff["services"].only_in2, "service", "services")}
                (#{@diff["services"].only_in2.init_system})
            - if @diff["services"].changed && @diff["services"].changed.length > 0
              %span.summary-part
                %a.show-changed-elements{ href: "#services_changed" }
                  changed
                = ": #{pluralize_scope(@diff["services"].changed, "service", "services")}"
            - if @diff["services"].common && @diff["services"].common.length > 0
              %span.summary-part
                %a.show-common-elements{ href: "#services_both" }<
                  both
                = ": #{pluralize_scope(@diff["services"].common, "service", "services")}"
    .row.scope_content.collapse.in
      .col-md-12
        .row
          .col-md-6.table_container
            - if @diff["services"].only_in1
              = only_in_a
              = render_partial "compare/service_list", list: @diff["services"].only_in1
          .col-md-6.table_container{ class: offset_class(@diff["services"].only_in1) }
            - if @diff["services"].only_in2
              = only_in_b
              = render_partial "compare/service_list", list: @diff["services"].only_in2
        - if @diff["services"].changed
          %a.both_anchor{ id: "services_changed" }
          .row
            .col-md-12.table_container
              = changed
              = render_partial "compare/changes", changes: changed_elements("services", key: "name")
        - if @diff["services"].common
          %a.both_anchor{ id: "services_both" }
          .row
            .col-md-12
              %a.show-common-elements{ href: "#services_both" }
                Show common elements in services
              %a.hide-common-elements{ href: "#", style: "display: none" }
                Hide common elements in services
          .row.scope_common_content.collapse
            .col-md-12.table_container
              = in_both
              = render_partial "compare/service_list", list: @diff["services"].common
