.scope-summary
  - if @diff[scope].only_in1 && @diff[scope].only_in1.length > 0
    %span.summary-part
      #{@description_a.name}: #{pluralize_scope(@diff[scope].only_in1, singular, plural)}
  - if @diff[scope].only_in2 && @diff[scope].only_in2.length > 0
    %span.summary-part
      #{@description_b.name}: #{pluralize_scope(@diff[scope].only_in2, singular, plural)}
  - if @diff[scope].changed && @diff[scope].changed.length > 0
    %span.summary-part
      %a{ href: "#" + scope + "_changed" }
        changed
      = ": #{pluralize_scope(@diff[scope].changed, singular, plural)}"
  - if @diff[scope].common && @diff[scope].common.length > 0
    %span.summary-part
      %a.show-common-elements{ href: "#" + scope + "_both" }<
        both
      = ": #{pluralize_scope(@diff[scope].common, singular, plural)}"
