- if !list.extracted.nil?
  %p
    <strong>Files extracted:</strong> #{list.extracted ? "yes" : "no"}
- unless list.elements.empty?
  %table.table.table-striped.table-hover.table-condensed.files-table
    %thead
      %tr
        %th Name
        %th.small Type
        - if list.has_metadata
          %th.medium Mode
          %th.medium User
          %th.medium Group
          %th.medium Size
          %th.medium Files in dir.
    %tbody
      - list.each do |file|
        %tr
          %td= file.name
          %td= file.type
          - if list.has_metadata
            %td= file.mode
            %td= file.user
            %td= file.group
            %td= number_to_human_size(file.size)
            %td= file.files
