- if @diff["unmanaged_files"]
  - scope = "unmanaged_files"
  %a.scope_anchor{ id: scope }
  .scope#unmanaged_files_container
    .row
      .col-xs-1
        %a.btn.btn-default.btn-lg.scope_logo_big{ :href => "##{scope}",
          :title => scope_title(scope), "data-toggle"=>"popover",
          "data-content" => scope_help(scope) }
          %span= scope_initials(scope)
        %span.toggle{ title: "Collapse/Expand" }
      .col-xs-11
        %h2
          Unmanaged Files
          .scope-summary
            - if @diff["unmanaged_files"].only_in1
              %span.summary-part
                #{@description_a.name}:
                = pluralize_scope(@diff["unmanaged_files"].only_in1, "file", "files")
            - if @diff["unmanaged_files"].only_in2
              %span.summary-part
                #{@description_b.name}:
                = pluralize_scope(@diff["unmanaged_files"].only_in2, "file", "files")
            - if @diff["unmanaged_files"].changed
              %span.summary-part
                %a{ href: "#unmanaged_files_changed" }
                  changed
                = ": #{pluralize_scope(@diff["unmanaged_files"].changed, "file", "files")}"
            - if @diff["unmanaged_files"].common
              %span.summary-part
                %a.show-common-elements{ href: "#unmanaged_files_both" }<
                  both
                = ": #{pluralize_scope(@diff["unmanaged_files"].common, "file", "files")}"
            - if diffable_unmanaged_files.length > 0
              %span.summary-part
                %a#diff-unmanaged-files{ "data-toggle" => "modal",
                    "data-target" => "#diff-unmanaged-files" }
                  Diff files
    .row.scope_content.collapse.in
      .row
        .col-xs-1
        .col-xs-5.table_container
          - if @diff["unmanaged_files"].only_in1
            = only_in_a
            = render_partial "compare/unmanaged_file_list", list: @diff["unmanaged_files"].only_in1
        .col-xs-1
        .col-xs-5.table_container
          - if @diff["unmanaged_files"].only_in2
            = only_in_b
            = render_partial "compare/unmanaged_file_list", list: @diff["unmanaged_files"].only_in2
      - if @diff["unmanaged_files"].changed
        %a.both_anchor{ id: "unmanaged_files_changed" }
        .row
          .col-xs-1
          .col-xs-11.table_container
            = changed
            %ul.changed
              - changed_elements("unmanaged_files", key: "name").each do |change|
                %li= change
      - if safe_length(@diff["unmanaged_files"].common, :files) > 0
        %a.both_anchor{ id: "unmanaged_files_both" }
        .row
          .col-xs-1
          .col-xs-11
            %a.show-common-elements{ href: "#unmanaged_files_both" }
              Show common elements in unmanaged-files
            %a.hide-common-elements{ href: "#", style: "display: none" }
              Hide common elements in unmanaged-files
        .row.scope_common_content.collapse
          .col-xs-1
          .col-xs-10.table_container
            = in_both
            = render_partial "compare/unmanaged_file_list", list: @diff["unmanaged_files"].common
