- if changed_managed_files
  %div
    %a.scope_anchor{ id: "changed_managed_files" }
    .scope#changed_managed_files_container{ "data-scope" => "changed_managed_files" }
      - count = changed_managed_files.length
      = render_partial "scope_header",
        :scope => "changed_managed_files",
        :title => "Changed Managed Files",
        :count => "#{count} #{Machinery.pluralize(count, "file")}"
      .row.scope_content.collapse.in
        .col-xs-1
        .col-xs-11
          %p
            <strong>Files extracted:</strong> #{changed_managed_files.extracted ? "yes" : "no"}
          - if count == 0
            There are no changed managed files.
          - if count > 0
            %table.table.table-striped.table-hover.table-condensed.files-table.filterable
              %thead
                %tr
                  %th Name
                  %th Package Name
                  %th.medium Package Version
                  %th.medium Changes
                  %th.small Mode
                  %th.small User
                  %th.small Group
              %tbody
                - changed_managed_files.each do |file|
                  %tr
                    %td
                      - if file.on_disk? && !@static_html
                        %a.file-download{ href: "#" }
                          = file.name
                      - else
                        %span
                          = file.name
                    %td= file.package_name
                    %td= file.package_version
                    %td
                      = file.changes.join(",")
                      - if file.error_message
                        %span{ title: file.error_message } (details)
                    %td= file.mode
                    %td= file.user
                    %td= file.group
