#description-selector.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.large{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          Select a description from the list below to
          %span.description-selector-action
            show
      .modal-body
        = render_partial "landing_page/alert"
        .row
          .filter-input.col-md-3.col-md-offset-1
            %input.col-md-8#descriptions-filter{ :placeholder => "Type to Filter" }
            %a.btn.btn-default.reset-descriptions-filter{ :href => "#", :title => "Reset Filter" }
              %span Reset

        - if @all_descriptions.empty?
          %p.col-md-5.col-md-offset-1
            %strong
              No system descriptions available on your machine.
        - else
          %table.table.table-striped.table-condensed.description-filterable
            %thead
              %tr
                %th Name
                %th Last update
                %th Scopes
                %th Host
            %tbody
              - @all_descriptions.each do |key, value|
                %tr
                  %td
                    - case
                    - when @description
                      %a.show-description{ :href => "/#{key}" }
                        #{key}
                      %a.compare-description{ :href => "/compare/#{@description.name}/#{key}" }
                        #{key}
                    - when @description_a && @description_b
                      %a.show-description{ :href => "/compare/#{key}/#{@description_b.name}" }
                        #{key}
                      %a.compare-description{ :href => "/compare/#{@description_a.name}/#{key}" }
                        #{key}
                    - else
                      %a.show-description{ :href => "/#{key}" }
                        #{key}
                  %td= value["date"]
                  %td= value["scopes"].join(", ")
                  %td= value["host"].join(", ")
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
