- if os
  - scope = "os"
  %div
    %a.scope_anchor{ :id => scope }
    .scope#os_container
      .row
        .col-xs-1
          %a.btn.btn-default.btn-lg{ :href => "##{scope}", :title => scope_title(scope),
            "data-toggle"=>"popover", "data-content" => scope_help(scope) }
            %span= scope_initials(scope)
          %span.toggle{ title: "Collapse/Expand" }
        .col-xs-11
          %h2
            Operating System
            .scope-summary
              = scope_meta_info(scope)
        .col-xs-1
        .col-xs-3.scope_content.collapse.in
          %table.table.table-striped.table-condensed
            %tr
              %th Name
              %td= os.name
            %tr
              %th Version
              %td= os.version
            %tr
              %th Architecture
              %td= os.architecture
