- if patterns
  %div
    %a.scope_anchor{ id: "patterns" }
    .scope#patterns_container
      = render_partial "scope_header",
        :scope => "patterns",
        :title => "Patterns",
        :count => "#{patterns.length} #{Machinery.pluralize(patterns.length, "pattern")}"
      - if @description.packages && @description.packages.package_system == "dpkg"
        .row
          .col-xs-1
          .col-xs-11
            Note: Tasks on Debian-like systems are treated as patterns.
      .row.scope_content.collapse.in
        .col-xs-1
        .col-xs-11
          - if patterns.length == 0
            There are no patterns.
          - if patterns.length > 0
            %table.table.table-striped.table-hover.table-condensed.filterable
              %thead
                %tr
                  %th Name
                  %th.medium Version
                  %th.medium Release
              %tbody
                - patterns.each do |pattern|
                  %tr
                    %td= pattern.name
                    %td= pattern.version
                    %td= pattern.release
