%table.table.table-striped.table-hover.table-condensed.filterable
  %thead
    %tr
      %th Name
      %th Alias
      %th.small Type
      %th URL
      %th Mirrorlist
      %th.small Enabled
      %th.small GPG Check
      %th GPG Keys
  %tbody
    - repositories.each do |repo|
      %tr
        %td= repo.name
        %td= repo.alias
        %td= repo.type
        %td
          - repo.url.each do |url|
            %a{ href: url }= url
            %br
        %td
          - unless repo.mirrorlist.empty?
            %a{ href: repo.mirrorlist }= repo.mirrorlist
        %td= repo.enabled
        %td= repo.gpgcheck
        %td
          - repo.gpgkey.each do |url|
            %a{ href: url }= url
            %br
