- if services
  %div
    %a.scope_anchor{ id: "services" }
    .scope#services_container
      - count = services.elements.length
      = render_partial "scope_header",
        :scope => "services",
        :title => "Services",
        :count => "#{count} #{Machinery.pluralize(count, "service")}"
      .row.scope_content.collapse.in
        .col-xs-1
        .col-xs-11
          - if count == 0
            There are no services.
          - if count > 0
            %table.table.table-striped.table-hover.table-condensed.filterable
              %thead
                %tr
                  %th Name
                  %th.medium State
              %tbody
                - services.each do |service|
                  %tr
                    %td= service.name
                    %td{ class: "#{services.init_system}_#{service.state}" }
                      = service.state
