- if unmanaged_files
  %div
    %a.scope_anchor{ id: "unmanaged_files" }
    .scope#unmanaged_files_container{ "data-scope" => "unmanaged_files" }
      - count = unmanaged_files.length
      = render_partial "scope_header",
        :scope => "unmanaged_files",
        :title => "Unmanaged Files",
        :count => "#{count} #{Machinery.pluralize(count, "file")}"
      .row.scope_content.collapse.in
        .col-xs-1
        .col-xs-11
          %p
            <strong>Files extracted:</strong> #{unmanaged_files.extracted ? "yes" : "no"}
          - if count == 0
            There are no unmanaged files.
          - if count > 0
            %table.table.table-striped.table-hover.table-condensed.files-table.filterable
              %thead
                %tr
                  %th Name
                  %th.medium Type
                  - if unmanaged_files.extracted
                    %th.medium Mode
                    %th.medium User
                    %th.medium Group
                    %th.medium Size
                    %th.medium Files in dir.
              %tbody
                - unmanaged_files.each do |file|
                  %tr
                    %td
                      - if file.on_disk?
                        %a.file-download{ href: "#" }
                          = file.name
                      - else
                        %span
                          = file.name
                    %td= file.type
                    - if unmanaged_files.extracted
                      %td= file.mode
                      %td= file.user
                      %td= file.group
                      %td= number_to_human_size(file.size)
                      %td= file.files
