!!!
%html{"ng-app" => "machinery-compare"}
  %head
    %title
      Machinery System Description Comparison
    %meta{:charset => 'utf-8'}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => "/assets/machinery-base.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/machinery.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/assets/angular.min.js"}
    %script{:src => "/assets/compare/machinery-compare.js"}
    %script{:src => "/assets/jquery-2.1.1.min.js"}
    %script{:src => "/assets/transition.js"}
    %script{:src => "/assets/collapse.js"}
    %script{:src => "/assets/modal.js"}

    %style
      = Diffy::CSS

    %script#alert{:type => "text/ng-template"}
      #alert_container.scope{"ng-show" => "diff.meta.uninspected"}
        .row
          .col-xs-10.col-xs-offset-1
            .well
              %span.text-right.dismiss{:title => "Collapse/Expand"}
              %p{"ng-show" => "diff.meta.uninspected[diff.meta.description_a].length"}
                Couldn't compare <strong>'{{diff.meta.uninspected[diff.meta.description_a].join(", ")}}'</strong> because they are not present in description <strong>'{{diff.meta.description_a}}'</strong>
              %p{"ng-show" => "diff.meta.uninspected[diff.meta.description_b].length"}
                Couldn't compare <strong>'{{diff.meta.uninspected[diff.meta.description_b].join(", ")}}'</strong> because they are not present in description <strong>'{{diff.meta.description_b}}'</strong>

    %script#scope_os_partial{:type => "text/ng-template"}
      %table.table.table-striped.table-condensed
        %tr
          %th Name
          %td {{object.name}}
        %tr
          %th Version
          %td {{object.version}}
        %tr
          %th Architecture
          %td {{object.architecture}}

    %script#scope_os.partial{:type => "text/ng-template"}
      %a.scope_anchor{:id => "os"}
      #os_container.scope
        .row
          .col-xs-1
            %a{:href => "#os"}
              %img.scope_logo_big{:src => "/assets/logo-os.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Operating System", :"data-content"=>"#{scope_help('os')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Operating System
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.os.only_in1"}
              %only-in-a
              %render-template{:template => "scope_os_partial", :object => "diff.os.only_in1"}
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.os.only_in2"}
              %only-in-b
              %render-template{:template => "scope_os_partial", :object => "diff.os.only_in2"}
          .row.scope_content_common.collapse.in
            .col-xs-1
            .col-xs-11{"ng-show" => "diff.os.common"}
              %in-both
              %render-template{:template => "scope_os_partial", :object => "diff.os.common"}

    %script#scope_packages_partial{:type => "text/ng-template"}
      %table.table.table-striped.table-hover.table-condensed
        %thead
          %tr
            %th Name
            %th.small Version
            %th.small.visible-md.visible-lg Release
            %th.small.visible-md.visible-lg Arch
            %th.visible-lg Vendor
            %th.visible-lg Checksum
            %th.tiny.hidden-lg
        %tbody
          %tr{"ng-repeat" => "package in object"}
            %td {{package.name}}
            %td {{package.version}}
            %td.visible-md.visible-lg {{package.release}}
            %td.visible-md.visible-lg {{package.arch}}
            %td.visible-lg {{package.vendor}}
            %td.visible-lg {{package.checksum}}
            %td.hidden-lg{:title => "Name: {{package.name}}\nVersion: {{package.version}}\nRelease: {{package.release}}\n" |
               "Architecture: {{package.arch}}\nVendor: {{package.vendor}}\nChecksum: {{package.checksum}}"} ... |

    %script#scope_packages_changed_partial{:type => "text/ng-template"}
      %ul.changed
        %li{"ng-repeat" => "changed_element in changed_elements"}
          {{changed_element}}

    %script#scope_packages.partial{:type => "text/ng-template"}
      %a.scope_anchor{:id => "packages"}
      #packages_container.scope
        .row
          .col-xs-1
            %a{:href => "#packages"}
              %img.scope_logo_big{:src => "/assets/logo-packages.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Packages", :"data-content"=>"#{scope_help('packages')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Packages
              .scope-summary
                %span.summary-part{"ng-show" => "diff.packages.only_in1"}
                  {{diff.meta.description_a}}: {{diff.packages.only_in1.length}} packages
                %span.summary-part{"ng-show" => "diff.packages.only_in2"}
                  {{diff.meta.description_b}}: {{diff.packages.only_in2.length}} packages
                %span.summary-part{"ng-show" => "diff.packages.changed"}
                  %a{href: "#packages_changed"}
                  Changed
                  = ": {{diff.packages.changed.length}} packages"
                %span.summary-part{"ng-show" => "diff.packages.common"}
                  %a{:class=>"show-common-elements", href: "#packages_both"}<
                    both
                  = ": {{diff.packages.common.length}} packages"
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5.table_container{"ng-show" => "diff.packages.only_in1"}
              %only-in-a
              %render-template{:template => "scope_packages_partial", :object => "diff.packages.only_in1"}
            .col-xs-1
            .col-xs-5.table_container{"ng-show" => "diff.packages.only_in2"}
              %only-in-b
              %render-template{:template => "scope_packages_partial", :object => "diff.packages.only_in2"}
          %a.both_anchor{id: "packages_changed"}
          .row{"ng-show" => "diff.packages.changed"}
            .col-xs-1
            .col-xs-11.table_container
              %changed
              %changed_packages
          %a.both_anchor{id: "packages_both"}
          .row
            .col-xs-1
            .col-xs-2
              %a{:class=>"show-common-elements", :href => "#", "ng-show" => "diff.packages.common"}
                Show common elements in packages
              %a{:class=>"hide-common-elements", :href => "#", :style => "display: none", "ng-show" => "diff.packages.common"}
                Hide common elements in packages
          .row.scope_common_content.collapse{"ng-show" => "diff.packages.common"}
            .col-xs-1
            .col-xs-10.table_container
              %in-both
              %render-template{:template => "scope_packages_partial", :object => "diff.packages.common"}

    %script#scope_patterns_partial{:type => "text/ng-template"}
      %table.table.table-striped.table-hover.table-condensed
        %thead
          %tr
            %th Name
            %th Version
            %th Release
        %tbody
          %tr{"ng-repeat" => "pattern in object"}
            %td {{pattern.name}}
            %td {{pattern.version}}
            %td {{pattern.release}}

    %script#scope_patterns.partial{:type => "text/ng-template"}
      %a.scope_anchor{:id => "patterns"}
      #patterns_container.scope
        .row
          .col-xs-1
            %a{:href => "#patterns"}
              %img.scope_logo_big{:src => "/assets/logo-patterns.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Patterns", :"data-content"=>"#{scope_help('patterns')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Patterns
              .scope-summary
                %span.summary-part{"ng-show" => "diff.patterns.only_in1"}
                  {{diff.meta.description_a}}: {{diff.patterns.only_in1.length}} patterns
                %span.summary-part{"ng-show" => "diff.patterns.only_in2"}
                  {{diff.meta.description_b}}: {{diff.patterns.only_in2.length}} patterns
                %span.summary-part{"ng-show" => "diff.patterns.common"}
                  %a{:class=>"show-common-elements", href: "#patterns_both"}<
                    both
                  = ": {{diff.patterns.common.length}} patterns"
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.patterns.only_in1"}
              %only-in-a
              %render-template{:template => "scope_patterns_partial", :object => "diff.patterns.only_in1"}
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.patterns.only_in2"}
              %only-in-b
              %render-template{:template => "scope_patterns_partial", :object => "diff.patterns.only_in2"}
          %a.both_anchor{id: "patterns_both"}
          .row
            .col-xs-1
            .col-xs-2
              %a{:class=>"show-common-elements", :href => "#", "ng-show" => "diff.patterns.common"}
                Show common elements in patterns
              %a{:class=>"hide-common-elements", :href => "#", :style => "display: none", "ng-show" => "diff.patterns.common"}
                Hide common elements in patterns
          .row.scope_common_content.collapse{"ng-show" => "diff.patterns.common"}
            .col-xs-1
            .col-xs-11
              %in-both
              %render-template{:template => "scope_patterns_partial", :object => "diff.patterns.common"}

    %script#scope_users_partial{:type => "text/ng-template"}
      %table.table.table-striped.table-hover.table-condensed
        %thead
          %tr
            %th Name
            %th.small UID
            %th.small GID
            %th Comment
            %th Home
            %th.small Shell
        %tbody
          %tr{"ng-repeat" => "user in object"}
            %td {{user.name}}
            %td {{user.uid}}
            %td {{user.gid}}
            %td {{user.comment}}
            %td {{user.home}}
            %td {{user.shell}}
    %script#scope_users{:type => "text/ng-template"}
      %a.scope_anchor{:id => "users"}
      #users_container.scope
        .row
          .col-xs-1
            %a{:href => "#users"}
              %img.scope_logo_big{:src => "/assets/logo-users.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Users", :"data-content"=>"#{scope_help('users')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Users
              .scope-summary
                %span.summary-part{"ng-show" => "diff.users.only_in1"}
                  {{diff.meta.description_a}}: {{diff.users.only_in1.length}} users
                %span.summary-part{"ng-show" => "diff.users.only_in2"}
                  {{diff.meta.description_b}}: {{diff.users.only_in2.length}} users
                %span.summary-part{"ng-show" => "diff.users.common"}
                  %a{:class=>"show-common-elements", href: "#users_both"}<
                    both
                  = ": {{diff.users.common.length}} users"
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.users.only_in1"}
              %only-in-a
              %render-template{:template => "scope_users_partial", :object => "diff.users.only_in1"}
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.users.only_in2"}
              %only-in-b
              %render-template{:template => "scope_users_partial", :object => "diff.users.only_in2"}
          %a.both_anchor{id: "users_both"}
          .row
            .col-xs-1
            .col-xs-2
              %a{:class=>"show-common-elements", :href => "#", "ng-show" => "diff.users.common"}
                Show common elements in users
              %a{:class=>"hide-common-elements", :href => "#", :style => "display: none", "ng-show" => "diff.users.common"}
                Hide common elements in users
          .row.scope_common_content.collapse{"ng-show" => "diff.users.common"}
            .col-xs-1
            .col-xs-11
              %in-both
              %render-template{:template => "scope_users_partial", :object => "diff.users.common"}

    %script#scope_unmanaged_files_partial{:type => "text/ng-template"}
      %p
        <strong>Files extracted:</strong> {{object.extracted ? "yes" : "no"}}
      %table.table.table-striped.table-hover.table-condensed.files-table{{"ng-show" => "object.files"}}
        %thead
          %tr
            %th Name
            %th Type
        %tbody
          %tr{"ng-repeat" => "file in object.files"}
            %td {{file.name}}
            %td {{file.type}}
    %script#scope_unmanaged_files.partial{:type => "text/ng-template"}
      %a.scope_anchor{:id => "unmanaged_files"}
      #unmanaged_files_container.scope
        .row
          .col-xs-1
            %a{:href => "#unmanaged_files"}
              %img.scope_logo_big{:src => "/assets/logo-unmanaged-files.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Unmanaged Files", :"data-content"=>"#{scope_help('unmanaged_files')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Unmanaged Files
              .scope-summary
                %span.summary-part{"ng-show" => "diff.unmanaged_files.only_in1"}
                  {{diff.meta.description_a}}: {{diff.unmanaged_files.only_in1.files.length || 0}} files
                %span.summary-part{"ng-show" => "diff.unmanaged_files.only_in2"}
                  {{diff.meta.description_b}}: {{diff.unmanaged_files.only_in2.files.length || 0}} files
                %span.summary-part{"ng-show" => "diff.unmanaged_files.common"}
                  %a{:class=>"show-common-elements", href: "#unmanaged_files_both"}<
                    both
                  = ": {{diff.unmanaged_files.common.files.length}} files"
                %span.summary-part{"ng-show" => "diffableUnmanagedFiles.length"}
                  %a#diff-unmanaged-files{"data-toggle" => "modal", "data-target" => "#diff-unmanaged-files"}
                    Diff files
        .row.scope_content.collapse.in
          .row{"ng-show" => "diff.unmanaged_files.only_in1 || diff.unmanaged_files.only_in2"}
            .col-xs-1
            .col-xs-5
              %only-in-a
              %render-template{:template => "scope_unmanaged_files_partial", :object => "diff.unmanaged_files.only_in1"}
            .col-xs-1
            .col-xs-5
              %only-in-b
              %render-template{:template => "scope_unmanaged_files_partial", :object => "diff.unmanaged_files.only_in2"}
          %a.both_anchor{id: "unmanaged_files_both"}
          .row
            .col-xs-1
            .col-xs-4
              %a{:class=>"show-common-elements", :href => "#", "ng-show" => "diff.unmanaged_files.common"}
                Show common elements in unmanaged_files
              %a{:class=>"hide-common-elements", :href => "#", :style => "display: none", "ng-show" => "diff.unmanaged_files.common"}
                Hide common elements in unmanaged_files
          .row.scope_common_content.collapse{"ng-show" => "diff.unmanaged_files.common"}
            .col-xs-1
            .col-xs-11
              %in-both
              %render-template{:template => "scope_unmanaged_files_partial", :object => "diff.unmanaged_files.common"}

    %script#scope_groups_partial{:type => "text/ng-template"}
      %table.table.table-striped.table-hover.table-condensed
        %thead
          %tr
            %th Name
            %th GID
            %th Password
            %th Users
        %tbody
          %tr{"ng-repeat" => "group in object"}
            %td {{group.name}}
            %td {{group.gid}}
            %td {{group.password}}
            %td {{group.users.join(",")}}
    %script#scope_groups{:type => "text/ng-template"}
      %a.scope_anchor{:id => "groups"}
      #groups_container.scope
        .row
          .col-xs-1
            %a{:href => "#groups"}
              %img.scope_logo_big{:src => "/assets/logo-groups.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Groups", :"data-content"=>"#{scope_help('groups')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Groups
              .scope-summary
                %span.summary-part{"ng-show" => "diff.groups.only_in1"}
                  {{diff.meta.description_a}}: {{diff.groups.only_in1.length}} groups
                %span.summary-part{"ng-show" => "diff.groups.only_in2"}
                  {{diff.meta.description_b}}: {{diff.groups.only_in2.length}} groups
                %span.summary-part{"ng-show" => "diff.groups.common"}
                  %a{:class=>"show-common-elements", href: "#groups_both"}<
                    both
                  = ": {{diff.groups.common.length}} groups"
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.groups.only_in1"}
              %only-in-a
              %render-template{:template => "scope_groups_partial", :object => "diff.groups.only_in1"}
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.groups.only_in2"}
              %only-in-b
              %render-template{:template => "scope_groups_partial", :object => "diff.groups.only_in2"}
          %a.both_anchor{id: "groups_both"}
          .row
            .col-xs-1
            .col-xs-2
              %a{:class=>"show-common-elements", :href => "#", "ng-show" => "diff.groups.common"}
                Show common elements in groups
              %a{:class=>"hide-common-elements", :href => "#", :style => "display: none", "ng-show" => "diff.groups.common"}
                Hide common elements in groups
          .row.scope_common_content.collapse{"ng-show" => "diff.groups.common"}
            .col-xs-1
            .col-xs-11
              %in-both
              %render-template{:template => "scope_groups_partial", :object => "diff.groups.common"}

    %script#scope_repositories_partial{:type => "text/ng-template"}
      %table.table.table-striped.table-hover.table-condensed
        %thead
          %tr
            %th Name
            %th Alias
            %th URL
            %th.small Type
            %th.small Enabled
            %th.small.visible-lg Autorefresh
            %th.small.visible-lg GPG Check
            %th.small.visible-lg Priority
            %th.tiny.hidden-lg
        %tbody
          %tr{"ng-repeat" => "repo in object"}
            %td {{repo.name}}
            %td {{repo.alias}}
            %td
              %a{:href => "{{repo.url}}" } {{repo.url}}
            %td {{repo.type}}
            %td {{repo.enabled}}
            %td.visible-lg {{repo.autorefresh}}
            %td.visible-lg {{repo.gpgcheck}}
            %td.visible-lg {{repo.priority}}
            %td.hidden-lg{:title => "Name: {{repo.name}}\nAlias: {{repo.alias}}\nUrl: {{repo.url}}\n" |
               "Type: {{repo.type}}\nEnabled: {{repo.enabled}}\nAutorefresh: {{repo.autorefresh}}\n" |
               "GPG Check: {{repo.gpgcheck}}\nPriority: {{repo.priority}}"} ... |
    %script#scope_repositories.partial{:type => "text/ng-template"}
      %a.scope_anchor{:id => "repositories"}
      #repositories_container.scope
        .row
          .col-xs-1
            %a{:href => "#repositories"}
              %img.scope_logo_big{:src => "/assets/logo-repositories.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Repositories", :"data-content"=>"#{scope_help('repositories')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Repositories
              .scope-summary
                %span.summary-part{"ng-show" => "diff.repositories.only_in1"}
                  {{diff.meta.description_a}}: {{diff.repositories.only_in1.length}} repos
                %span.summary-part{"ng-show" => "diff.repositories.only_in2"}
                  {{diff.meta.description_b}}: {{diff.repositories.only_in2.length}} repos
                %span.summary-part{"ng-show" => "diff.repositories.common"}
                  %a{:class=>"show-common-elements", href: "#repositories_both"}<
                    both
                  = ": {{diff.repositories.common.length}} repos"
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.repositories.only_in1"}
              %only-in-a
              %render-template{:template => "scope_repositories_partial", :object => "diff.repositories.only_in1"}
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.repositories.only_in2"}
              %only-in-b
              %render-template{:template => "scope_repositories_partial", :object => "diff.repositories.only_in2"}
          %a.both_anchor{id: "repositories_both"}
          .row
            .col-xs-1
            .col-xs-2
              %a{:class=>"show-common-elements", :href => "#", "ng-show" => "diff.repositories.common"}
                Show common elements in repositories
              %a{:class=>"hide-common-elements", :href => "#", :style => "display: none", "ng-show" => "diff.repositories.common"}
                Hide common elements in repositories
          .row.scope_common_content.collapse{"ng-show" => "diff.repositories.common"}
            .col-xs-1
            .col-xs-11
              %in-both
              %render-template{:template => "scope_repositories_partial", :object => "diff.repositories.common"}

    %script#scope_changed_managed_files_partial{:type => "text/ng-template"}
      %p
        <strong>Files extracted:</strong> {{object.extracted ? "yes" : "no"}}
      %table.table.table-striped.table-hover.table-condensed.files-table{{"ng-show" => "object.files"}}
        %thead
          %tr
            %th Name
            %th Package Name
            %th Package Version
            %th.small Changes
            %th.small Mode
            %th.small User
            %th.small Group
        %tbody
          %tr{"ng-repeat" => "file in object.files"}
            %td {{file.name}}
            %td {{file.package_name}}
            %td {{file.package_version}}
            %td {{file.changes.join(",")}}
            %span{"ng-show" => "file.error_message", :title => "{{file.error_message}}"} (details)
            %td {{file.mode}}
            %td {{file.user}}
            %td {{file.group}}
    %script#scope_changed_managed_files.partial{:type => "text/ng-template"}
      %a.scope_anchor{:id => "changed_managed_files"}
      #changed_managed_files_container.scope
        .row
          .col-xs-1
            %a{:href => "#changed_managed_files"}
              %img.scope_logo_big{:src => "/assets/logo-changed-managed-files.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Changed Managed Files", :"data-content"=>"#{scope_help('changed_managed_files')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Changed Managed Files
              .scope-summary
                %span.summary-part{"ng-show" => "diff.changed_managed_files.only_in1"}
                  {{diff.meta.description_a}}: {{diff.changed_managed_files.only_in1.files.length || 0}} files
                %span.summary-part{"ng-show" => "diff.changed_managed_files.only_in2"}
                  {{diff.meta.description_b}}: {{diff.changed_managed_files.only_in2.files.length || 0}} files
                %span.summary-part{"ng-show" => "diff.changed_managed_files.common"}
                  %a{:class=>"show-common-elements", href: "#changed_managed_files_both"}<
                    both
                  = ": {{diff.changed_managed_files.common.files.length}} files"
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.changed_managed_files.only_in1"}
              %only-in-a
              %render-template{:template => "scope_changed_managed_files_partial", :object => "diff.changed_managed_files.only_in1"}
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.changed_managed_files.only_in2"}
              %only-in-b
              %render-template{:template => "scope_changed_managed_files_partial", :object => "diff.changed_managed_files.only_in2"}
          %a.both_anchor{id: "changed_managed_files_both"}
          .row
            .col-xs-1
            .col-xs-4
              %a{:class=>"show-common-elements", :href => "#", "ng-show" => "diff.changed_managed_files.common"}
                Show common elements in changed_managed_files
              %a{:class=>"hide-common-elements", :href => "#", :style => "display: none", "ng-show" => "diff.changed_managed_files.common"}
                Hide common elements in changed_managed_files
          .row.scope_common_content.collapse{"ng-show" => "diff.changed_managed_files.common"}
            .col-xs-1
            .col-xs-11
              %in-both
              %render-template{:template => "scope_changed_managed_files_partial", :object => "diff.changed_managed_files.common"}

    %script#scope_config_files_partial{:type => "text/ng-template"}
      %p
        <strong>Files extracted:</strong> {{object.extracted ? "yes" : "no"}}
      %table.table.table-striped.table-hover.table-condensed.files-table{{"ng-show" => "object.files"}}
        %thead
          %tr
            %th Name
            %th Package Name
            %th Package Version
            %th Changes
            %th Mode
            %th User
            %th Group
        %tbody
          %tr{"ng-repeat" => "file in object.files"}
            %td {{file.name}}
            %td {{file.package_name}}
            %td {{file.package_version}}
            %td
              {{file.changes.join(",")}}
              %span{"ng-show" => "file.error_message", :title => "{{file.error_message}}"} (details)
            %td {{file.mode}}
            %td {{file.user}}
            %td {{file.group}}

    %script#scope_config_files.partial{:type => "text/ng-template"}
      %a.scope_anchor{:id => "config_files"}
      #config_files_container.scope
        .row
          .col-xs-1
            %a{:href => "#config_files"}
              %img.scope_logo_big{:src => "/assets/logo-config-files.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Config Files", :"data-content"=>"#{scope_help('config_files')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Config Files
              .scope-summary
                %span.summary-part{"ng-show" => "diff.config_files.only_in1"}
                  {{diff.meta.description_a}}: {{diff.config_files.only_in1.files.length || 0}} files
                %span.summary-part{"ng-show" => "diff.config_files.only_in2"}
                  {{diff.meta.description_b}}: {{diff.config_files.only_in2.files.length || 0}} files
                %span.summary-part{"ng-show" => "diff.config_files.common"}
                  %a{:class=>"show-common-elements", href: "#config_files_both"}<
                    both
                  = ": {{diff.config_files.common.files.length}} files"
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.config_files.only_in1"}
              %only-in-a
              %render-template{:template => "scope_config_files_partial", :object => "diff.config_files.only_in1"}
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.config_files.only_in2"}
              %only-in-b
              %render-template{:template => "scope_config_files_partial", :object => "diff.config_files.only_in2"}
          %a.both_anchor{id: "config_files_both"}
          .row
            .col-xs-1
            .col-xs-2
              %a{:class=>"show-common-elements", :href => "#", "ng-show" => "diff.config_files.common"}
                Show common elements in config_files
              %a{:class=>"hide-common-elements", :href => "#", :style => "display: none", "ng-show" => "diff.config_files.common"}
                Hide common elements in config_files
          .row.scope_common_content.collapse{"ng-show" => "diff.config_files.common"}
            .col-xs-1
            .col-xs-11
              %in-both
              %render-template{:template => "scope_config_files_partial", :object => "diff.config_files.common"}

    %script#scope_services_partial{:type => "text/ng-template"}
      %table.table.table-striped.table-hover.table-condensed
        %thead
          %tr
            %th Name
            %th State
        %tbody
          %tr{"ng-repeat" => "service in object.services"}
            %td {{service.name}}
            %td{:class=>"{{object.init_system}}_{{service.state}}"}
              {{service.state}}
    %script#scope_services.partial{:type => "text/ng-template"}
      %a.scope_anchor{:id => "services"}
      #services_container.scope
        .row
          .col-xs-1
            %a{:href => "#services"}
              %img.scope_logo_big{:src => "/assets/logo-services.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Services", :"data-content"=>"#{scope_help('services')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Services
              .scope-summary
                %span.summary-part{"ng-show" => "diff.services.only_in1"}
                  {{diff.meta.description_a}}: {{diff.services.only_in1.services.length || 0}} services ({{diff.services.only_in1.init_system}})
                %span.summary-part{"ng-show" => "diff.services.only_in2"}
                  {{diff.meta.description_b}}: {{diff.services.only_in2.services.length || 0}} services ({{diff.services.only_in2.init_system}})
                %span.summary-part{"ng-show" => "diff.services.common"}
                  %a{:class=>"show-common-elements", href: "#services_both"}<
                    both
                  = ": {{diff.services.common.services.length}} services ({{diff.services.common.init_system}})"
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.services.only_in1"}
              %only-in-a
              %render-template{:template => "scope_services_partial", :object => "diff.services.only_in1"}
            .col-xs-1
            .col-xs-5{"ng-show" => "diff.services.only_in2"}
              %only-in-b
              %render-template{:template => "scope_services_partial", :object => "diff.services.only_in2"}
          %a.both_anchor{id: "services_both"}
          .row
            .col-xs-1
            .col-xs-2
              %a{:class=>"show-common-elements", :href => "#", "ng-show" => "diff.services.common"}
                Show common elements in services
              %a{:class=>"hide-common-elements", :href => "#", :style => "display: none", "ng-show" => "diff.services.common"}
                Hide common elements in services
          .row.scope_common_content.collapse{"ng-show" => "diff.services.common"}
            .col-xs-1
            .col-xs-11
              %in-both
              %render-template{:template => "scope_services_partial", :object => "diff.services.common"}

    %script{:src => "/assets/compare/machinery.js"}
    %script{:src => "/assets/bootstrap-tooltip.js"}
    %script{:src => "/assets/bootstrap-popover.js"}

  %body{"ng-controller" => "compareController", "data-description-a" => description_a, "data-description-b" => description_b}
    #diff-unmanaged-files.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{"type" => "button", "data-dismiss" => "modal"}
              &times;
            %h4
              Diff Unmanaged Files
          .modal-body
            .row
              File
              %select#diff-unmanaged-files-file{"ng-options" => "file for file in diffableUnmanagedFiles track by file",
                "ng-model" => "selected"}
            .row#diff-unmanaged-files-content{"style" => "display: none"}
              Diff ('#{description_a}' -> '#{description_b}')
              #diff-unmanaged-files-diff
            #diff-unmanaged-files-error{"style" => "display: none"}
            #diff-unmanaged-files-spinner{"style" => "display: none"}
              Generating diff. Please wait...
          .modal-footer
            %button.btn.btn-primary{"type" => "button", "data-dismiss" => "modal"}
              Close

    .container-fluid
      #nav-bar
        .row
          .col-xs-1
          .col-xs-10
            %h1
              Comparing '#{description_a}' with '#{description_b}'
            %span.scope-navigation
              Scopes:
              %a{:href => "#os", :title => "Operating System", "ng-show" => "diff.os"}
                %img{:src => "/assets/logo-os-small.png"}/
              %a{:href => "#packages", :title => "Packages", "ng-show" => "diff.packages"}
                %img{:src => "/assets/logo-packages-small.png"}/
              %a{:href => "#patterns", :title => "Patterns", "ng-show" => "diff.patterns"}
                %img{:src => "/assets/logo-patterns-small.png"}/
              %a{:href => "#users", :title => "Users", "ng-show" => "diff.users"}
                %img{:src => "/assets/logo-users-small.png"}/
              %a{:href => "#groups", :title => "Groups", "ng-show" => "diff.groups"}
                %img{:src => "/assets/logo-groups-small.png"}/
              %a{:href => "#repositories", :title => "Repositories", "ng-show" => "diff.repositories"}
                %img{:src => "/assets/logo-repositories-small.png"}/
              %a{:href => "#unmanaged_files", :title => "Unmanaged Files", "ng-show" => "diff.unmanaged_files"}
                %img{:src => "/assets/logo-unmanaged-files-small.png"}/
              %a{:href => "#changed_managed_files", :title => "Changed Managed Files", "ng-show" => "diff.changed_managed_files"}
                %img{:src => "/assets/logo-changed-managed-files-small.png"}/
              %a{:href => "#config_files", :title => "Config Files", "ng-show" => "diff.config_files"}
                %img{:src => "/assets/logo-config-files-small.png"}/
              %a{:href => "#services", :title => "Services", "ng-show" => "diff.services"}
                %img{:src => "/assets/logo-services-small.png"}/
        .row
          .col-xs-1
            %a#expand-all{:href => "#", :style => "display: none"}
              Expand all
            %a#collapse-all{:href => "#"}
              Collapse all
        .row
          .col-xs-9
            %small.pull-right.pad-top
              created by
              %a{:href => "http://machinery-project.org", :target => "_blank"}
                Machinery

      #content_container
        .row{"ng-hide" => "diff"}
          .col-xs-11.col-xs-offset-1
            %p
              Loading comparison results. Please wait...
        %div{"ng-show" => "diff"}
          %div{"src" => "'alert'", "ng-include" => true}
          %div{"src" => "'scope_os'", "ng-include" => true, "ng-show" => "diff.os"}
          %div{"src" => "'scope_packages'", "ng-include" => true, "ng-show" => "diff.packages"}
          %div{"src" => "'scope_patterns'", "ng-include" => true, "ng-show" => "diff.patterns"}
          %div{"src" => "'scope_users'", "ng-include" => true, "ng-show" => "diff.users"}
          %div{"src" => "'scope_groups'", "ng-include" => true, "ng-show" => "diff.groups"}
          %div{"src" => "'scope_repositories'", "ng-include" => true, "ng-show" => "diff.repositories"}
          %div{"src" => "'scope_unmanaged_files'", "ng-include" => true, "ng-show" => "diff.unmanaged_files"}
          %div{"src" => "'scope_changed_managed_files'", "ng-include" => true, "ng-show" => "diff.changed_managed_files"}
          %div{"src" => "'scope_config_files'", "ng-include" => true, "ng-show" => "diff.config_files"}
          %div{"src" => "'scope_services'", "ng-include" => true, "ng-show" => "diff.services"}
