!!!
%html{"ng-app" => "machinery-compare"}
  %head
    %title
      Machinery System Description Comparison
    %meta{:charset => 'utf-8'}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => "/assets/machinery-base.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/machinery.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/assets/jquery-2.1.1.min.js"}
    %script{:src => "/assets/transition.js"}
    %script{:src => "/assets/collapse.js"}
    %script{:src => "/assets/modal.js"}

    %style
      = Diffy::CSS

    %script{:src => "/assets/compare/machinery.js"}
    %script{:src => "/assets/bootstrap-tooltip.js"}
    %script{:src => "/assets/bootstrap-popover.js"}

  %body{ "data-description-a" => @description_a.name, "data-description-b" => @description_b.name }
    #diff-unmanaged-files.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{"type" => "button", "data-dismiss" => "modal"}
              &times;
            %h4
              Diff Unmanaged Files
          .modal-body
            .row
              File
              %select#diff-unmanaged-files-file
                - diffable_unmanaged_files.each do |file|
                  %option{ label: file, value: file }
            .row#diff-unmanaged-files-content{"style" => "display: none"}
              Diff ('#{@description_a.name}' -> '#{@description_b.name}')
              #diff-unmanaged-files-diff
            #diff-unmanaged-files-error{"style" => "display: none"}
            #diff-unmanaged-files-spinner{"style" => "display: none"}
              Generating diff. Please wait...
          .modal-footer
            %button.btn.btn-primary{"type" => "button", "data-dismiss" => "modal"}
              Close

    .container-fluid
      #nav-bar
        .row
          .col-xs-1
          .col-xs-10
            %h1
              Comparing '#{@description_a.name}' with '#{@description_b.name}'
            %span.scope-navigation
              Scopes:
              %a{:href => "#os", :title => "Operating System", "ng-show" => "diff.os"}
                %img{:src => "/assets/logo-os-small.png"}/
              %a{:href => "#packages", :title => "Packages", "ng-show" => "diff.packages"}
                %img{:src => "/assets/logo-packages-small.png"}/
              %a{:href => "#patterns", :title => "Patterns", "ng-show" => "diff.patterns"}
                %img{:src => "/assets/logo-patterns-small.png"}/
              %a{:href => "#users", :title => "Users", "ng-show" => "diff.users"}
                %img{:src => "/assets/logo-users-small.png"}/
              %a{:href => "#groups", :title => "Groups", "ng-show" => "diff.groups"}
                %img{:src => "/assets/logo-groups-small.png"}/
              %a{:href => "#repositories", :title => "Repositories", "ng-show" => "diff.repositories"}
                %img{:src => "/assets/logo-repositories-small.png"}/
              %a{:href => "#unmanaged_files", :title => "Unmanaged Files", "ng-show" => "diff.unmanaged_files"}
                %img{:src => "/assets/logo-unmanaged-files-small.png"}/
              %a{:href => "#changed_managed_files", :title => "Changed Managed Files", "ng-show" => "diff.changed_managed_files"}
                %img{:src => "/assets/logo-changed-managed-files-small.png"}/
              %a{:href => "#config_files", :title => "Config Files", "ng-show" => "diff.config_files"}
                %img{:src => "/assets/logo-config-files-small.png"}/
              %a{:href => "#services", :title => "Services", "ng-show" => "diff.services"}
                %img{:src => "/assets/logo-services-small.png"}/
        .row
          .col-xs-1
            %a#expand-all{:href => "#", :style => "display: none"}
              Expand all
            %a#collapse-all{:href => "#"}
              Collapse all
        .row
          .col-xs-9
            %small.pull-right.pad-top
              created by
              %a{:href => "http://machinery-project.org", :target => "_blank"}
                Machinery

      #content_container
        %div
          = render_partial "compare/alert"
          = render_partial "compare/os"
          = render_partial "compare/packages"
          = render_partial "compare/patterns"
          = render_partial "compare/users"
          = render_partial "compare/groups"
          = render_partial "compare/repositories"
          = render_partial "compare/unmanaged_files"
          = render_partial "compare/changed_managed_files"
          = render_partial "compare/config_files"
          = render_partial "compare/services"
