!!!
- description_a = diff[:meta][:description_a]
- description_b = diff[:meta][:description_b]
%html
  %head
    %title
      Machinery System Description Comparison
    %meta{:charset => 'utf-8'}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => "assets/machinery-base.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/machinery.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "assets/jquery-2.1.1.min.js"}
    %script{:src => "assets/hogan-3.0.2.min.mustache.js"}
    %script{:src => "assets/transition.js"}
    %script{:src => "assets/collapse.js"}

    %script#content{:type => "text/html"}
      {{>os}}
      {{>packages}}
      {{>patterns}}
      {{>users}}
      {{>groups}}
      {{>repositories}}
      {{>unmanaged_files}}
      {{>config_files}}
      {{>changed_managed_files}}
      {{>services}}



    %script#description_a_partial{:type => "text/html"}
      %h3
        Only in '{{meta.description_a}}':
    %script#description_b_partial{:type => "text/html"}
      %h3
        Only in '{{meta.description_b}}':
    %script#both_descriptions_partial{:type => "text/html"}
      %h3
        In both descriptions:


    %script#scope_os_partial{:type => "text/html"}
      %table.table.table-striped.table-condensed
        %tr
          %th Name
          %td {{name}}
        %tr
          %th Version
          %td {{version}}
        %tr
          %th Architecture
          %td {{architecture}}

    %script#scope_os.partial{:type => "text/html"}
      {{#os.length}}
      %a.scope_anchor{:id => "os"}
      #os_container.scope
        .row
          .col-xs-1
            %a{:href => "#os"}
              %img.scope_logo_big{:src => "assets/logo-os.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Operating System", :"data-content"=>"#{scope_help('os')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Operating System
          .row
            .col-xs-1
            .col-xs-5
              {{#os.0}}
              {{>description_a}}
              {{>os_partial}}
              {{/os.0}}
            .col-xs-1
            .col-xs-5
              {{#os.1}}
              {{>description_b}}
              {{>os_partial}}
              {{/os.1}}
          .row
            {{#os.2}}
            .col-xs-1
            .col-xs-11
              {{>both_descriptions}}
              {{>os_partial}}
            {{/os.2}}
      {{/os.length}}

    %script#scope_packages_partial{:type => "text/html"}
      %tr
        %td {{name}}
        %td {{version}}
        %td.visible-md.visible-lg {{release}}
        %td.visible-md.visible-lg {{arch}}
        %td.visible-lg {{vendor}}
        %td.visible-lg {{checksum}}
        %td.hidden-lg{:title => "Name: {{name}}\nVersion: {{version}}\nRelease: {{release}}\n" |
           "Architecture: {{arch}}\nVendor: {{vendor}}\nChecksum: {{checksum}}"} ... |

    %script#scope_packages.partial{:type => "text/html"}
      {{#packages.length}}
      %a.scope_anchor{:id => "packages"}
      #packages_container.scope
        .row
          .col-xs-1
            %a{:href => "#packages"}
              %img.scope_logo_big{:src => "assets/logo-packages.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Packages", :"data-content"=>"#{scope_help('packages')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Packages
              .scope-summary
                {{#packages.0.length}}
                %span.summary-part {{meta.description_a}}: {{packages.0.length}} packages
                {{/packages.0.length}}
                {{#packages.1.length}}
                %span.summary-part {{meta.description_b}}: {{packages.1.length}} packages
                {{/packages.1.length}}
                {{#packages.2.length}}
                %span.summary-part
                  %a{href: "#packages_both"}
                    both
                  = ": {{packages.2.length}} packages"
                {{/packages.2.length}}
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5.table_container
              {{#packages.0.length}}
              {{>description_a}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th.small Version
                    %th.small.visible-md.visible-lg Release
                    %th.small.visible-md.visible-lg Arch
                    %th.visible-lg Vendor
                    %th.visible-lg Checksum
                    %th.tiny.hidden-lg
                %tbody
                  {{#packages.0}}
                  {{>packages_partial}}
                  {{/packages.0}}
              {{/packages.0.length}}
            .col-xs-1
            .col-xs-5.table_container
              {{#packages.1.length}}
              {{>description_b}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th.small Version
                    %th.visible-md.visible-lg Release
                    %th.visible-md.visible-lg Arch
                    %th.visible-lg Vendor
                    %th.visible-lg Checksum
                    %th.tiny.hidden-lg
                %tbody
                  {{#packages.1}}
                  {{>packages_partial}}
                  {{/packages.1}}
              {{/packages.1.length}}
          %a.both_anchor{id: "packages_both"}
          .row
            {{#packages.2.length}}
            .col-xs-1
            .col-xs-11.table_container
              {{>both_descriptions}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th.small Version
                    %th.visible-md.visible-lg Release
                    %th.visible-md.visible-lg Arch
                    %th.visible-lg Vendor
                    %th.visible-lg Checksum
                    %th.tiny.hidden-lg
                %tbody
                  {{#packages.2}}
                  {{>packages_partial}}
                  {{/packages.2}}
            {{/packages.2.length}}
      {{/packages.length}}

    %script#scope_patterns.partial{:type => "text/html"}
      {{#patterns.length}}
      %a.scope_anchor{:id => "patterns"}
      #patterns_container.scope
        .row
          .col-xs-1
            %a{:href => "#patterns"}
              %img.scope_logo_big{:src => "assets/logo-patterns.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Patterns", :"data-content"=>"#{scope_help('patterns')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Patterns
              .scope-summary
                {{#patterns.0.length}}
                %span.summary-part {{meta.description_a}}: {{patterns.0.length}} patterns
                {{/patterns.0.length}}
                {{#patterns.1.length}}
                %span.summary-part {{meta.description_b}}: {{patterns.1.length}} patterns
                {{/patterns.1.length}}
                {{#patterns.2.length}}
                %span.summary-part
                  %a{href: "#patterns_both"}
                    both
                  = ": {{patterns.2.length}} patterns"
                {{/patterns.2.length}}
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5
              {{#patterns.0.length}}
              {{>description_a}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th Version
                    %th Release
                %tbody
                  {{#patterns.0}}
                  %tr
                    %td {{name}}
                    %td {{version}}
                    %td {{release}}
                  {{/patterns.0}}
              {{/patterns.0.length}}
            .col-xs-1
            .col-xs-5
              {{#patterns.1.length}}
              {{>description_b}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th Version
                    %th Release
                %tbody
                  {{#patterns.1}}
                  %tr
                    %td {{name}}
                    %td {{version}}
                    %td {{release}}
                  {{/patterns.1}}
              {{/patterns.1.length}}
          %a.both_anchor{id: "patterns_both"}
          .row
            {{#patterns.2.length}}
            .col-xs-1
            .col-xs-11
              {{>both_descriptions}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th Version
                    %th Release
                %tbody
                  {{#patterns.2}}
                  %tr
                    %td {{name}}
                    %td {{version}}
                    %td {{release}}
                  {{/patterns.2}}
            {{/patterns.2.length}}
      {{/patterns.length}}

    %script#scope_users{:type => "text/html"}
      {{#users.length}}
      %a.scope_anchor{:id => "users"}
      #users_container.scope
        .row
          .col-xs-1
            %a{:href => "#users"}
              %img.scope_logo_big{:src => "assets/logo-users.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Users", :"data-content"=>"#{scope_help('users')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Users
              .scope-summary
                {{#users.0.length}}
                %span.summary-part {{meta.description_a}}: {{users.0.length}} users
                {{/users.0.length}}
                {{#users.1.length}}
                %span.summary-part {{meta.description_b}}: {{users.1.length}} users
                {{/users.1.length}}
                {{#users.2.length}}
                %span.summary-part
                  %a{href: "#users_both"}
                    both
                  = ": {{users.2.length}} users"
                {{/users.2.length}}
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5
              {{#users.0.length}}
              {{>description_a}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th.small UID
                    %th.small GID
                    %th Comment
                    %th Home
                    %th.small Shell
                %tbody
                  {{#users.0}}
                  %tr
                    %td {{name}}
                    %td {{uid}}
                    %td {{gid}}
                    %td {{comment}}
                    %td {{home}}
                    %td {{shell}}
                  {{/users.0}}
              {{/users.0.length}}
            .col-xs-1
            .col-xs-5
              {{#users.1.length}}
              {{>description_b}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th.small UID
                    %th.small GID
                    %th Comment
                    %th Home
                    %th.small Shell
                %tbody
                  {{#users.1}}
                  %tr
                    %td {{name}}
                    %td {{uid}}
                    %td {{gid}}
                    %td {{comment}}
                    %td {{home}}
                    %td {{shell}}
                  {{/users.1}}
              {{/users.1.length}}
          %a.both_anchor{id: "users_both"}
          .row
            {{#users.2.length}}
            .col-xs-1
            .col-xs-11
              {{>both_descriptions}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th.small UID
                    %th.small GID
                    %th Comment
                    %th Home
                    %th.small Shell
                %tbody
                  {{#users.2}}
                  %tr
                    %td {{name}}
                    %td {{uid}}
                    %td {{gid}}
                    %td {{comment}}
                    %td {{home}}
                    %td {{shell}}
                  {{/users.2}}
            {{/users.2.length}}
      {{/users.length}}

    %script#scope_unmanaged_files.partial{:type => "text/html"}
      {{#unmanaged_files.length}}
      %a.scope_anchor{:id => "unmanaged_files"}
      #unmanaged_files_container.scope
        .row
          .col-xs-1
            %a{:href => "#unmanaged_files"}
              %img.scope_logo_big{:src => "assets/logo-unmanaged-files.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Unmanaged Files", :"data-content"=>"#{scope_help('unmanaged_files')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Unmanaged Files
              .scope-summary
                {{#unmanaged_files.0.files.length}}
                %span.summary-part {{meta.description_a}}: {{unmanaged_files.0.files.length}} files
                {{/unmanaged_files.0.files.length}}
                {{#unmanaged_files.1.files.length}}
                %span.summary-part {{meta.description_b}}: {{unmanaged_files.1.files.length}} files
                {{/unmanaged_files.1.files.length}}
                {{#unmanaged_files.2.files.length}}
                %span.summary-part
                  %a{href: "#unmanaged_files_both"}
                    both
                  = ": {{unmanaged_files.2.files.length}} files"
                {{/unmanaged_files.2.files.length}}
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5
              {{#unmanaged_files.0}}
              {{>description_a}}
              %table.table.table-striped.table-hover.table-condensed.files-table
                %thead
                  %tr
                    %th Name
                    %th Type
                %tbody
                  {{#unmanaged_files.0.files}}
                  %tr
                    %td {{name}}
                    %td {{type}}
                  {{/unmanaged_files.0.files}}
              {{/unmanaged_files.0}}
            .col-xs-1
            .col-xs-5
              {{#unmanaged_files.1}}
              {{>description_b}}
              %table.table.table-striped.table-hover.table-condensed.files-table
                %thead
                  %tr
                    %th Name
                    %th Type
                %tbody
                  {{#unmanaged_files.1.files}}
                  %tr
                    %td {{name}}
                    %td {{type}}
                  {{/unmanaged_files.1.files}}
              {{/unmanaged_files.1}}
          %a.both_anchor{id: "unmanaged_files_both"}
          .row
            {{#unmanaged_files.2}}
            .col-xs-1
            .col-xs-11
              {{>both_descriptions}}
              %table.table.table-striped.table-hover.table-condensed.files-table
                %thead
                  %tr
                    %th Name
                    %th Type
                %tbody
                  {{#unmanaged_files.2.files}}
                  %tr
                    %td {{name}}
                    %td {{type}}
                  {{/unmanaged_files.2.files}}
            {{/unmanaged_files.2}}
      {{/unmanaged_files.length}}

    %script#scope_groups{:type => "text/html"}
      {{#groups.length}}
      %a.scope_anchor{:id => "groups"}
      #groups_container.scope
        .row
          .col-xs-1
            %a{:href => "#groups"}
              %img.scope_logo_big{:src => "assets/logo-groups.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Groups", :"data-content"=>"#{scope_help('groups')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Groups
              .scope-summary
                {{#groups.0.length}}
                %span.summary-part {{meta.description_a}}: {{groups.0.length}} groups
                {{/groups.0.length}}
                {{#groups.1.length}}
                %span.summary-part {{meta.description_b}}: {{groups.1.length}} groups
                {{/groups.1.length}}
                {{#groups.2.length}}
                %span.summary-part
                  %a{href: "#groups_both"}
                    both
                  = ": {{groups.2.length}} groups"
                {{/groups.2.length}}
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5
              {{#groups.0.length}}
              {{>description_a}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th GID
                    %th Password
                    %th Users
                %tbody
                  {{#groups.0}}
                  %tr
                    %td {{name}}
                    %td {{gid}}
                    %td {{password}}
                    %td {{users}}
                  {{/groups.0}}
              {{/groups.0.length}}
            .col-xs-1
            .col-xs-5
              {{#groups.1.length}}
              {{>description_b}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th GID
                    %th Password
                    %th Users
                %tbody
                  {{#groups.1}}
                  %tr
                    %td {{name}}
                    %td {{gid}}
                    %td {{password}}
                    %td {{users}}
                  {{/groups.1}}
              {{/groups.1.length}}
          %a.both_anchor{id: "groups_both"}
          .row
            {{#groups.2.length}}
            .col-xs-1
            .col-xs-11
              {{>both_descriptions}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th GID
                    %th Password
                    %th Users
                %tbody
                  {{#groups.2}}
                  %tr
                    %td {{name}}
                    %td {{gid}}
                    %td {{password}}
                    %td {{users}}
                  {{/groups.2}}
            {{/groups.2.length}}
      {{/groups.length}}

    %script#scope_repositories_partial{:type => "text/html"}
      %tr
        %td {{name}}
        %td {{alias}}
        %td
          %a{:href => "{{url}}" } {{url}}
        %td {{type}}
        %td {{enabled}}
        %td.visible-lg {{autorefresh}}
        %td.visible-lg {{gpgcheck}}
        %td.visible-lg {{priority}}
        %td.hidden-lg{:title => "Name: {{name}}\nAlias: {{alias}}\nUrl: {{url}}\n" |
           "Type: {{type}}\nEnabled: {{enabled}}\nAutorefresh: {{autorefresh}}\n" |
           "GPG Check: {{gpgcheck}}\nPriority: {{priority}}"} ... |

    %script#scope_repositories.partial{:type => "text/html"}
      {{#repositories.length}}
      %a.scope_anchor{:id => "repositories"}
      #repositories_container.scope
        .row
          .col-xs-1
            %a{:href => "#repositories"}
              %img.scope_logo_big{:src => "assets/logo-repositories.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Repositories", :"data-content"=>"#{scope_help('repositories')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Repositories
              .scope-summary
                {{#repositories.0.length}}
                %span.summary-part {{meta.description_a}}: {{repositories.0.length}} repos
                {{/repositories.0.length}}
                {{#repositories.1.length}}
                %span.summary-part {{meta.description_b}}: {{repositories.1.length}} repos
                {{/repositories.1.length}}
                {{#repositories.2.length}}
                %span.summary-part
                  %a{href: "#repositories_both"}
                    both
                  = ": {{repositories.2.length}} repos"
                {{/repositories.2.length}}
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5
              {{#repositories.0.length}}
              {{>description_a}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th Alias
                    %th URL
                    %th.small Type
                    %th.small Enabled
                    %th.small.visible-lg Autorefresh
                    %th.small.visible-lg GPG Check
                    %th.small.visible-lg Priority
                    %th.tiny.hidden-lg
                %tbody
                  {{#repositories.0}}
                  {{>repositories_partial}}
                  {{/repositories.0}}
              {{/repositories.0.length}}
            .col-xs-1
            .col-xs-5
              {{#repositories.1.length}}
              {{>description_b}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th Alias
                    %th URL
                    %th.small Type
                    %th.small Enabled
                    %th.small.visible-lg Autorefresh
                    %th.small.visible-lg GPG Check
                    %th.small.visible-lg Priority
                    %th.tiny.hidden-lg
                %tbody
                  {{#repositories.1}}
                  {{>repositories_partial}}
                  {{/repositories.1}}
              {{/repositories.1.length}}
          %a.both_anchor{id: "repositories_both"}
          .row
            {{#repositories.2.length}}
            .col-xs-1
            .col-xs-11
              {{>both_descriptions}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th Alias
                    %th URL
                    %th.small Type
                    %th.small Enabled
                    %th.small.visible-lg Autorefresh
                    %th.small.visible-lg GPG Check
                    %th.small.visible-lg Priority
                    %th.tiny.hidden-lg
                %tbody
                  {{#repositories.2}}
                  {{>repositories_partial}}
                  {{/repositories.2}}
            {{/repositories.2.length}}
      {{/repositories.length}}

    %script#scope_changed_managed_files_partial{:type => "text/html"}
      %tr
        %td {{name}}
        %td {{package_name}}
        %td {{package_version}}
        {{#changes.length}}
        %td {{changes}}
        {{/changes.length}}
        {{#error_message}}
        %td{:title => "{{error_message}}"} Error
        {{/error_message}}
        %td {{mode}}
        %td {{user}}
        %td {{group}}
    %script#scope_changed_managed_files.partial{:type => "text/html"}
      {{#changed_managed_files.length}}
      %a.scope_anchor{:id => "changed_managed_files"}
      #changed_managed_files_container.scope
        .row
          .col-xs-1
            %a{:href => "#changed_managed_files"}
              %img.scope_logo_big{:src => "assets/logo-changed-managed-files.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Changed Managed Files", :"data-content"=>"#{scope_help('changed_managed_files')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Changed Managed Files
              .scope-summary
                {{#changed_managed_files.0.files.length}}
                %span.summary-part {{meta.description_a}}: {{changed_managed_files.0.files.length}} files
                {{/changed_managed_files.0.files.length}}
                {{#changed_managed_files.1.files.length}}
                %span.summary-part {{meta.description_b}}: {{changed_managed_files.1.files.length}} files
                {{/changed_managed_files.1.files.length}}
                {{#changed_managed_files.2.files.length}}
                %span.summary-part
                  %a{href: "#changed_managed_files_both"}
                    both
                  = ": {{changed_managed_files.2.files.length}} files"
                {{/changed_managed_files.2.files.length}}
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5
              {{#changed_managed_files.0.files.length}}
              {{>description_a}}
              %table.table.table-striped.table-hover.table-condensed.files-table
                %thead
                  %tr
                    %th Name
                    %th Package Name
                    %th Package Version
                    %th.small Changes
                    %th.small Mode
                    %th.small User
                    %th.small Group
                %tbody
                  {{#changed_managed_files.0.files}}
                  {{>changed_managed_files_partial}}
                  {{/changed_managed_files.0.files}}
              {{/changed_managed_files.0.files.length}}
            .col-xs-1
            .col-xs-5
              {{#changed_managed_files.1.files.length}}
              {{>description_b}}
              %table.table.table-striped.table-hover.table-condensed.files-table
                %thead
                  %tr
                    %th Name
                    %th Package Name
                    %th Package Version
                    %th.small Changes
                    %th.small Mode
                    %th.small User
                    %th.small Group
                %tbody
                  {{#changed_managed_files.1.files}}
                  {{>changed_managed_files_partial}}
                  {{/changed_managed_files.1.files}}
              {{/changed_managed_files.1.files.length}}
          %a.both_anchor{id: "changed_managed_files_both"}
          .row
            {{#changed_managed_files.2.files.length}}
            .col-xs-1
            .col-xs-11
              {{>both_descriptions}}
              %table.table.table-striped.table-hover.table-condensed.files-table
                %thead
                  %tr
                    %th Name
                    %th Package Name
                    %th Package Version
                    %th.small Changes
                    %th.small Mode
                    %th.small User
                    %th.small Group
                %tbody
                  {{#changed_managed_files.2.files}}
                  {{>changed_managed_files_partial}}
                  {{/changed_managed_files.2.files}}
            {{/changed_managed_files.2.files.length}}
        {{/changed_managed_files.length}}

    %script#scope_config_files_partial{:type => "text/html"}
      {{#diff}}
      .diff{:style => "display: none", :"data-config-file-diff" => "{{file}}"}
        %span.diff-summary
          {{additions}} additions & {{deletions}} deletions
        %table.diff
          {{#lines}}
          %tr{:class => "{{type}}"}
            %td.active.linenumber {{original_line_number}}
            %td.linenumber {{new_line_number}}
            %td {{{content}}}
          {{/lines}}
      {{/diff}}
      %tr
        {{#diff}}
        %td
          {{name}}
          %a.diff-toggle{:"data-config-file" => "{{name}}", :"data-toggle" => "popover"}
            Show diff
        {{/diff}}
        {{^diff}}
        %td {{name}}
        {{/diff}}
        %td {{package_name}}
        %td {{package_version}}
        {{#changes.length}}
        %td {{changes}}
        {{/changes.length}}
        {{#error_message}}
        %td{:title => "{{error_message}}"} Error
        {{/error_message}}
        %td {{mode}}
        %td {{user}}
        %td {{group}}

    %script#scope_config_files.partial{:type => "text/html"}
      {{#config_files.length}}
      %a.scope_anchor{:id => "config_files"}
      #config_files_container.scope
        .row
          .col-xs-1
            %a{:href => "#config_files"}
              %img.scope_logo_big{:src => "assets/logo-config-files.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Config Files", :"data-content"=>"#{scope_help('config_files')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Config Files
              .scope-summary
                {{#config_files.0.files.length}}
                %span.summary-part {{meta.description_a}}: {{config_files.0.files.length}} files
                {{/config_files.0.files.length}}
                {{#config_files.1.files.length}}
                %span.summary-part {{meta.description_b}}: {{config_files.1.files.length}} files
                {{/config_files.1.files.length}}
                {{#config_files.2.files.length}}
                %span.summary-part
                  %a{href: "#config_files_both"}
                    both
                  = ": {{config_files.2.files.length}} files"
                {{/config_files.2.files.length}}
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5
              {{#config_files.0.files.length}}
              {{>description_a}}
              %table.table.table-striped.table-hover.table-condensed.files-table
                %thead
                  %tr
                    %th Name
                    %th Package Name
                    %th Package Version
                    %th Changes
                    %th Mode
                    %th User
                    %th Group
                %tbody
                  {{#config_files.0.files}}
                  {{>config_files_partial}}
                  {{/config_files.0.files}}
              {{/config_files.0.files.length}}
            .col-xs-1
            .col-xs-5
              {{#config_files.1.files.length}}
              {{>description_b}}
              %table.table.table-striped.table-hover.table-condensed.files-table
                %thead
                  %tr
                    %th Name
                    %th Package Name
                    %th Package Version
                    %th Changes
                    %th Mode
                    %th User
                    %th Group
                %tbody
                  {{#config_files.1.files}}
                  {{>config_files_partial}}
                  {{/config_files.1.files}}
              {{/config_files.1.files.length}}
          %a.both_anchor{id: "config_files_both"}
          .row
            {{#config_files.2.files.length}}
            .col-xs-1
            .col-xs-11
              {{>both_descriptions}}
              %table.table.table-striped.table-hover.table-condensed.files-table
                %thead
                  %tr
                    %th Name
                    %th Package Name
                    %th Package Version
                    %th Changes
                    %th Mode
                    %th User
                    %th Group
                %tbody
                  {{#config_files.2.files}}
                  {{>config_files_partial}}
                  {{/config_files.2.files}}
            {{/config_files.2.files.length}}
      {{/config_files.length}}

    %script#scope_services.partial{:type => "text/html"}
      {{#services.length}}
      %a.scope_anchor{:id => "services"}
      #services_container.scope
        .row
          .col-xs-1
            %a{:href => "#services"}
              %img.scope_logo_big{:src => "assets/logo-services.png", :class=>"over", :"data-toggle"=>"popover", :title=>"Services", :"data-content"=>"#{scope_help('services')}"}/
            %span.toggle{:title => "Collapse/Expand"}
          .col-xs-11
            %h2
              Services
              .scope-summary
                {{#services.0}}
                %span.summary-part {{meta.description_a}}: {{services.length}} services ({{init_system}})
                {{/services.0}}
                {{#services.1}}
                %span.summary-part {{meta.description_b}}: {{services.length}} services ({{init_system}})
                {{/services.1}}
                {{#services.2}}
                %span.summary-part
                  %a{href: "#services_both"}
                    both
                  = ": {{services.length}} services ({{init_system}})"
                {{/services.2}}
        .row.scope_content.collapse.in
          .row
            .col-xs-1
            .col-xs-5
              {{#services.0.services.length}}
              {{>description_a}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th State
                %tbody
                  {{#services.0.services}}
                  %tr
                    %td {{name}}
                    %td{:class=>"{{services.init_system}}_{{state}}"}
                      {{state}}
                  {{/services.0.services}}
              {{/services.0.services.length}}
            .col-xs-1
            .col-xs-5
              {{#services.1.services.length}}
              {{>description_b}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th State
                %tbody
                  {{#services.1.services}}
                  %tr
                    %td {{name}}
                    %td{:class=>"{{services.init_system}}_{{state}}"}
                      {{state}}
                  {{/services.1.services}}
              {{/services.1.services.length}}
          %a.both_anchor{id: "services_both"}
          .row
            {{#services.2.services.length}}
            .col-xs-1
            .col-xs-11
              {{>both_descriptions}}
              %table.table.table-striped.table-hover.table-condensed
                %thead
                  %tr
                    %th Name
                    %th State
                %tbody
                  {{#services.2.services}}
                  %tr
                    %td {{name}}
                    %td{:class=>"{{services.init_system}}_{{state}}"}
                      {{state}}
                  {{/services.2.services}}
            {{/services.2.services.length}}
      {{/services.length}}

    %script{:src => "assets/diff.js"}
    %script{:src => "assets/compare/machinery.js"}
    %script{:src => "assets/bootstrap-tooltip.js"}
    %script{:src => "assets/bootstrap-popover.js"}

  %body
    .container-fluid
      #nav-bar
        .row
          .col-xs-1
          .col-xs-10
            %h1
              Comparing '#{description_a}' with '#{description_b}'
              %span.scope-navigation
                Scopes:
                %a{:href => "#os", :title => "Operating System"}
                  %img{:src => "assets/logo-os-small.png"}/
                %a{:href => "#packages", :title => "Packages"}
                  %img{:src => "assets/logo-packages-small.png"}/
                %a{:href => "#patterns", :title => "Patterns"}
                  %img{:src => "assets/logo-patterns-small.png"}/
                %a{:href => "#users", :title => "Users"}
                  %img{:src => "assets/logo-users-small.png"}/
                %a{:href => "#groups", :title => "Groups"}
                  %img{:src => "assets/logo-groups-small.png"}/
                %a{:href => "#repositories", :title => "Repositories"}
                  %img{:src => "assets/logo-repositories-small.png"}/
                %a{:href => "#unmanaged_files", :title => "Unmanaged Files"}
                  %img{:src => "assets/logo-unmanaged-files-small.png"}/
                %a{:href => "#changed_managed_files", :title => "Changed Managed Files"}
                  %img{:src => "assets/logo-changed-managed-files-small.png"}/
                %a{:href => "#config_files", :title => "Config Files"}
                  %img{:src => "assets/logo-config-files-small.png"}/
                %a{:href => "#services", :title => "Services"}
                  %img{:src => "assets/logo-services-small.png"}/
        .row
          .col-xs-1
            %a#expand-all{:style => "display: none"}
              Expand all
            %a#collapse-all
              Collapse all
          .col-xs-10
            %small.pull-right.pad-top
              created by
              %a{:href => "http://machinery-project.org", :target => "_blank"}
                Machinery

      #content_container
