!!!
%html
  %head
    %title
      = @description.name + " - Machinery System Description"
    %meta{ :charset => 'utf-8' }
    %link{ :href => "assets/machinery-base.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "assets/machinery.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "assets/jquery-2.1.1.min.js" }
    %script{ :src => "assets/transition.js" }
    %script{ :src => "assets/collapse.js" }
    %script{ :src => "assets/modal.js" }
    %script{ :src => "assets/jquery.searcher.min.js" }
    %script{ :src => "assets/show/machinery.js" }
    %script{ :src => "assets/bootstrap-tooltip.js" }
    %script{ :src => "assets/bootstrap-popover.js" }

  %body{ "data-description" => @description.name }
    #file-modal.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{ "type" => "button", "data-dismiss" => "modal" }
              &times;
            %h4#file-modal-title
          .modal-body
            %textarea#file-modal-file-content{ "readonly" => "true" }
            #file-modal-error{ "style" => "display: none" }
          .modal-footer
            %a.btn.btn-success#file-modal-download-link{ "target" => "_blank" }
              Download
            %button.btn.btn-primary{ "type" => "button", "data-dismiss" => "modal" }
              Close

    #file_popover{ :style => "display: none" }
      .header
        %h3.name
      .body
        %textarea.content

    .container-fluid
      #nav-bar
        .row
          .col-xs-1
          .col-xs-10
            %h1
              System '#{@description.name}'

            %a.inspection_details{ :href => "#", "data-toggle" => "popover" } (inspection details)
        .row
          .col-xs-1
            %a#expand-all{ :href => "#", :style => "display: none" }
              Expand all
            %a#collapse-all{ :href => "#" }
              Collapse all
          .col-xs-9
            %small.pull-right.pad-top
              created by
              %a{ :href => "http://machinery-project.org", :target => "_blank" }
                Machinery
            .filter-input.col-md-3
              %input#filter{ :placeholder => "Type To Filter" }
              %a{ :href => "#" }
                %img#reset-filter{ :src => "assets/reset.png", :titel => "Reset Filter" }

            %span.scope-navigation
              Scopes:
              %a{ :href => "#os", :title => "Operating System" }
                %img{ :src => "assets/logo-os-small.png", :title=>"Operating System",
                  "data-toggle"=>"popover", "data-content" => scope_help('os') }
              %a{ :href => "#packages", :title => "Packages" }
                %img{ :src => "assets/logo-packages-small.png", :title => "Packages",
                  "data-toggle"=>"popover", "data-content" => scope_help('packages') }
              %a{ :href => "#patterns", :title => "Patterns" }
                %img{ :src => "assets/logo-patterns-small.png", :title => "Patterns",
                  "data-toggle"=>"popover", "data-content" => scope_help('patterns') }
              %a{ :href => "#repositories", :title => "Repositories" }
                %img{ :src => "assets/logo-repositories-small.png", :title => "Repositories",
                  "data-toggle"=>"popover", "data-content" => scope_help('repositories') }
              %a{ :href => "#users", :title => "Users" }
                %img{ :src => "assets/logo-users-small.png", :title => "Users",
                  "data-toggle"=>"popover", "data-content" => scope_help('users') }
              %a{ :href => "#groups", :title => "Groups" }
                %img{ :src => "assets/logo-groups-small.png", :title => "Groups",
                  "data-toggle"=>"popover", "data-content" => scope_help('groups') }
              %a{ :href => "#services", :title => "Services" }
                %img{ :src => "assets/logo-services-small.png", :title => "Services",
                  "data-toggle"=>"popover", "data-content" => scope_help('services') }
              %a{ :href => "#config_files", :title => "Config Files" }
                %img{ :src => "assets/logo-config-files-small.png", :title => "Config Files",
                  "data-toggle"=>"popover", "data-content" => scope_help('config_files') }
              %a{ :href => "#changed_managed_files", :title => "Changed Managed Files" }
                %img{ :src => "assets/logo-changed-managed-files-small.png",
                 :title => "Changed Managed Files", "data-toggle" => "popover",
                 "data-content" => scope_help('changed_managed_files') }
              %a{ :href => "#unmanaged_files", :title => "Unmanaged Files" }
                %img{ :src => "assets/logo-unmanaged-files-small.png", :title => "Unmanaged Files",
                  :"data-toggle" => "popover", "data-content" => scope_help('unmanaged_files') }


      #content_container

        = render_scope "os"
        = render_scope "packages"
        = render_scope "patterns"
        = render_scope "repositories"
        = render_scope "users"
        = render_scope "groups"
        = render_scope "services"
        = render_scope "config_files"
        = render_scope "changed_managed_files"
        = render_scope "unmanaged_files"

        .hidden#inspection_details
          #filters
            .row
              .col-xs-1
              .col-xs-11
                %h3 Filters used during Inspection

            .row
              .col-xs-1
              .col-xs-11
                - if !@description.filter_definitions("inspect").empty?
                  %ul
                    - @description.filter_definitions("inspect").each do |filter|
                      %li.filter
                        = filter

                - else
                  %p No filters were used.
