!!!
%html
  %head
    %title
      = @description.name + " - Machinery System Description"
    %meta{ :charset => 'utf-8' }
    %link{ :href => "assets/machinery-base.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "assets/machinery.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "assets/jquery-2.1.1.min.js" }
    %script{ :src => "assets/transition.js" }
    %script{ :src => "assets/collapse.js" }
    %script{ :src => "assets/modal.js" }
    %script{ :src => "assets/jquery.searcher.min.js" }
    %script{ :src => "assets/machinery-base.js" }
    %script{ :src => "assets/show/machinery.js" }
    %script{ :src => "assets/bootstrap-tooltip.js" }
    %script{ :src => "assets/bootstrap-popover.js" }

  %body{ "data-description" => @description.name }
    - scopes = ["os", "packages", "patterns", "repositories", "users", "groups",
       "services", "config_files", "changed_managed_files", "unmanaged_files"]
    .modal.fade#file-modal{ "tabindex" => "-1" }
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{ "type" => "button", "data-dismiss" => "modal" }
              &times;
            %h4#file-modal-title
          .modal-body
            .spinner
            %textarea#file-modal-file-content{ "readonly" => "true" }
            #file-modal-error{ "style" => "display: none" }
          .modal-footer
            %a.btn.btn-success#file-modal-download-link{ "target" => "_blank" }
              Download
            %button.btn.btn-primary{ "type" => "button", "data-dismiss" => "modal" }
              Close

    #file_popover{ :style => "display: none" }
      .header
        %h3.name
      .body
        %textarea.content

    .container-fluid
      #nav-bar
        .row
          .col-xs-1
          .col-xs-10
            %h1
              System '#{@description.name}'

            %a.inspection_details{ :href => "#", "data-toggle" => "popover" } (inspection details)
        .row
          .col-xs-1
            %a#expand-all{ :href => "#", :style => "display: none" }
              Expand all
            %a#collapse-all{ :href => "#" }
              Collapse all
          .col-xs-9.nav-buttons
            %small.pull-right
              created by
              %a{ :href => "http://machinery-project.org", :target => "_blank" }
                Machinery
              %br
              %a{ :href => "/site/docs", :target => "_blank" }
                Machinery documentation
            .filter-input.col-md-4
              %input.col-md-8#filter{ :placeholder => "Type To Filter" }
              %a.btn.btn-default.btn-reset{ :href => "#", :title => "Reset Filter" }
                %span Reset

            %span.scope-navigation
              %span.nav-bar-title
                Scopes:

              - scopes.each do |scope|
                %a.btn.btn-default.btn-sm{ :href => "##{scope}", :title => scope_title(scope),
                  "data-toggle"=>"popover", "data-content" => scope_help(scope),
                  :class => nav_class(scope) }
                  %span= scope_initials(scope)

      #content_container

        - scopes.each do |scope|
          = render_scope scope

        .hidden#inspection_details
          - if @description[:environment].system_type == "docker"
            #container_type
              .row
                .col-xs-1
                .col-xs-11
                  %h3 Type of Inspected Container

              .row
                .col-xs-1
                .col-xs-11
                  %ul
                    %li
                      = @description[:environment].system_type

          #filters
            .row
              .col-xs-1
              .col-xs-11
                %h3 Filters used during Inspection

            .row
              .col-xs-1
              .col-xs-11
                - if !@description.filter_definitions("inspect").empty?
                  %ul
                    - @description.filter_definitions("inspect").each do |filter|
                      %li.filter
                        = filter

                - else
                  %p No filters were used.
